*{
    padding: 0;
    margin: 0;
}

/* ///////////////////////////////////////////////// */
/* BODY */

body {
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue', sans-serif;
    height: 100vh;
    background-color: rgb(136, 62, 28);

}

/* ///////////////////////////////////////////////// */
/* HEADER */

header {
    text-align: center;
    justify-content: center;
    transform: (-50%, -50%);
    padding: 20px 20px;
    background-color: rgb(228, 196, 155);
    border: 2px solid black;
    font-family: fantasy;
    letter-spacing: 10px;
    width: 100%
}

.header-title{
    font-family: 'Bebas Neue', sans-serif;
    flex: 5;
    color: black;
    font-size: 150px;
    padding: 10px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}

.bounce {
    animation: fadeInOut, bounce 0.8s infinite alternate; /* Apply the animation */
}

@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); } /* Adjust the translation */
    100% { transform: translateY(0); }
}

.header-title span {
    text-decoration: underline;
}

/* ///////////////////////////////////////////////// */
/* NAVBAR */

.nav {      
    background-color: beige;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.social-icons a img {
    width: 30px;
    height: auto;
    padding: 10px;
    transition: transform 0.3s ease-in-out; /* Add a transition */
}

.social-icons a:hover img {
    transform: translateY(-5px); /* Apply a small bounce effect on hover */
}

.nav-links {
    display: flex;
    flex-direction:row-reverse;
    border-bottom: 1px solid black;
    transition: transform 0.3s ease-in-out;
}

.nav-title {
    color: black;
    font-size: 20px;
    margin-right: 20px;
    border-bottom: 1px solid black;
}



/* ///////////////////////////////////////////////// */
/* MAIN CONTENT */

.content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    min-height: calc(100vh - 240px);
    flex: auto;
    font-size: 50px;
    padding: 30px 30px;
    margin-left: 10px;
    color: rgb(212, 192, 165);
}

.textbottom {
    margin-top: 20px;

}

.header-title2 {
    font-size: 70px;
    padding: 0px 20px;
    border-bottom: 2px solid black;
    letter-spacing: 10px;
    animation: bounce 0.8s infinite alternate;
    color: black;
}

@keyframes bounce {
    0% { transform: translateX(0); }
    50% { transform: translateX(5px); } /* Adjust the translation */
    100% { transform: translateX(0); }
}


.image-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

.image-container img {
    max-width: 75%;
    margin-right: 10px;
    height: auto;
    border: 5px solid rgb(36, 18, 2);
    box-shadow: 16px 14px 20px #000;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.image-container img ::before {
    content: "";
    background-image: conic-gradient(
        red 20deg,
        transparent 120deg
    );
    width: 150%;
    height: 150%;
    position: absolute;
    animation: rotate 2s linear infinite;
}

.image-container img ::after {
    display: flex;
    content: "animation";
    width: 190px;
    height: 190px;
    background: #101010;
    position: absolute;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: larger;
    box-shadow: inset 20px 20px 20px #000;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

.gap{
    width: 10%;
    padding: 30px 30px;
}

.text-container1{
    flex: 1;
    padding-right: 20px;
}

/* ///////////////////////////////////////////////// */
/* EPISODES LIST */

.episodes {
    display: flex;
    flex-direction:column-reverse;
    padding: 20px 20px;
    justify-content: space-between;
    margin-top: 15px;
    letter-spacing: 2px;
    font-size: 25px;
    margin: 0 20px;
}

.bordermain {
    display: flex;
    border-top: 1px solid black;
    width: 95%;
    padding: 20px 20px;
    margin: 20px 20px 0 20px;
}

.box {
    padding: 10px;
    margin-bottom: 20px;
}

.listitem {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 20px;
}


/* ///////////////////////////////////////////////// */
/* FOOTER */

footer {
    text-align: center;
}